.body {

    color: black;
    width: 100%;
    height: 100%;
    margin-top: 13px;
    background: #1e1e1e;

}

.detailed__div_main{
    margin: 50px 50px 50px 150px;
    color: white;
    display: flex;
}
.detailed__div_right{

    width: 45%;
}
.detailed__div_left{

    padding: 10px 10px 10px 10px;
    width: 50%;
}
.detailed__img{
    width: 630px;
    height: 530px;
}
.detailed__div_title{
    padding: 1%;
    font-size: xxx-large;
    font-weight: bold;

}
.detailed__div_price{
    font-size: xx-large;
    font-weight: lighter;
    margin-left: 70%;
    margin-top: 11px;
}

.detailed__div_text{
    padding: 2%;
    font-weight: normal;
    font-size: larger;
}

.detailed__div_genre{
    border-radius: 5px;
    color: black;
    text-align: center;
    font-weight: normal;
    background: white;
    margin-left: 86%;

}

.detailed__button_buy{
    margin-left: 83.2%;
    margin-top: 20px;
    background: rgb(11, 104, 11);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 1px;
    border: none;
    font-weight: bolder;
    text-align: center;
}
