.navsing__block {
    display: inline-block;
    position: relative;

}

.navsing__elem {
    text-decoration: none;
    background-color: black;
    color: grey;
    text-align: left;
    margin: 5px 5px 5px 460px;
    padding: 10px 5px 5px 15px;
    font-size: larger;
    font-family: "Gill Sans", sans-serif;

}

.navsing__but {
    color: white;
    font-family: "Gill Sans", sans-serif;
    text-transform: none;
}

.navsing__form{
    background: grey;
    border-radius: 89px;
}

.navsing__button{
    background: green;
    color: white;
    opacity: .8;
}