.body {
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    width: 100%;
    min-height: calc(100vh - 200px);
    background: #1e1e1e;

}
.game_list{
            font-weight: bold;
            background-color: white;
            padding: 0px 70px 10px 70px;
            display: inline-block;
            width: 400px;
            z-index: 200;
            border-radius: 4px;
            margin: 20px 10px 10px 20px;
            text-align: center;
        }

